Adafruit-Blinka
adafruit-circuitpython-mpu6050
adafruit-circuitpython-ads1x15
adafruit-circuitpython-ssd1306
Pillow
numpy
opencv-python
max30102
RPi.GPIO
picamera2
mediapipe
Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.2
Werkzeug==2.3.7
requests==2.31.0